<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="Rajagopal2015">
		<!-- model node is required -->
		<model dir="./resources/" path="Rajagopal2015.urdf" name="Rajagopal2015" />
		<!-- origin node is optional -->
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</light>

	<light name="light3" type="directional">
		<position xyz="-2.0 0.0 2.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</light>

	<light name="light3" type="directional">
		<position xyz="2.0 0.0 2.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</light>

	<camera name="camera">
		<position xyz="    2.14862 -0.00402684    0.716404" />
		<lookat xyz="        1.2 -3.1225e-17         0.4" />
		<vertical xyz="-0.316335 0.0123553  0.948567" />
	</camera>
</world>
